body,
html {
    background-color: #1d1d1d !important;
}

.shade-one {
    background-color: #1d1d1d !important;
    color: white;
}

.shade-two {
    background-color: #1d1d1d !important;
    color: white;
}

.shade-three {
    background-color: #1d1d1d !important;
    color: white;
}

.shade-four {
    background-color: #1d1d1d !important;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

#home-link {
    display: flex;
}

#logo .image {
    position: relative;
    margin-right: 8px;
}

.bold {
    font-weight: 600;
}

#header {
    background: #1d1d1d url("images/overlay.png")
}