.context {
    box-shadow: 0px 20px 10px #151515;
}

.content {
    position: absolute;
    width: calc(100% - 280px);
    top: 0;
    overflow-x: hidden;
    left: 250px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
    padding-top: 70px !important;
    /* Add padding to accommodate the top bar */
    z-index: 1;
    color: white;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #121212;
    z-index: 1;
    /* Ensure the top bar is above the content */
    padding-left: 12px;
    margin-bottom: 16px;
    padding-top: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.top-bar * {
    margin-top: 0;
    position: relative;
}

.full {
    height: 100%;
    /*width: 100px;*/
    color: white;
    background-color: #121212;
    border: 0;
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
}

.full * {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.full:hover {
    color: #2EB8F0;
}

.fullred:hover {
    color: #ED4245;
}

.fullblurple:hover {
    color: #5865F2;
}

.front {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    height: calc(100% - 140px);
    width: calc(100% - 300px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.centered {
    display: table;
    margin: 0 auto;
    transform: translateX(-120px);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #2d2d2d;
}

::-webkit-scrollbar-thumb:hover {
    background: #3e3e3e;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-auto-columns: max-content;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    min-height: 100px;
    background-color: #00000022;
    display: flex;
    flex-direction: column;
}

.grid-item h3 {
    line-height: 1em;
    font-size: 1.2em;
    font-weight: 400;
}

.section-text {
    font-weight: 200;
    width: 80%;
    margin-left: 10%;
    flex-grow: 1;
    font-size: 0.9em;
}

#main-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

#section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#section-container h2 {
    margin-bottom: 16px;
}

#page-buttons {
    height: 50px;
    text-align: center;
    font-size: 20px;
}

.nosidebar {
    padding-right: 250px;
    padding-left: 250px;
}

@media only screen and (max-width: 500px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, auto));
        grid-auto-columns: max-content;
    }
}

@media only screen and (max-width: 1500px) {
    .nosidebar {
        padding-right: 0;
        padding-left: 0;
    }
}

@media only screen and (max-width: 830px) {
    #main-container {
        width: calc(100% + 28px) !important;
    }
    .content {
        width: calc(100% - 30px);
    }
    /* Hide the sidebar on screens with a maximum width of 650px */
    .sidebar {
        left: -250px;
    }
    #section-container {
        display: flex;
        flex-direction: column;
        width: calc(100% - 30px);
    }
    .centered {
        transform: translateX(-20px);
    }
    .front {
        height: 100%;
        width: 100%;
    }
    .content {
        padding-top: 70px;
        margin-left: 0;
        left: 0;
    }
    .top-bar {
        left: 0;
        width: 100%;
    }
}

a:link {
    color: #ccc;
}

/* visited link */

a:visited {
    color: #ccc;
}

/* mouse over link */

a:hover {
    color: #ccc;
}

/* selected link */

a:active {
    color: #ccc;
}

.badge {
    width: fit-content;
    margin: 0 auto;
    background-color: #000;
    padding: 0 6px 0;
    border-radius: 30%;
    content: '';
    background-image: linear-gradient(45deg, #EF83D7, #2EB8F0);
    background-size: 400%;
    animation: rainbow_animation 5s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    z-index: -1 !important;
    border: none;
    outline: none;
    font-weight: 200;
    backdrop-filter: blur(8px);
    display: inline-block;
    user-select: none;
    color: white;
    font-size: 0.9em;
}

.badges {
    min-height: 38px !important;
}

.badges>.badge {
    margin: 0 5px 0;
}

.svg-icon {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
}

.glow-on-hover {
    font-size: .8em;
    font-weight: 300;
    min-width: 220px;
    border: 1px #fff;
    outline: none;
    color: #fff;
    background: #000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 4px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #68d43d, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.icon::before,
.icon-r::before,
.icon-b::before {
    font-size: 1em;
    padding-right: 8px;
}

.icon-b::before {
    font-weight: 300;
}

.full-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-columns: max-content;
}

.full-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px 0 20px 10%;
    font-size: 24px;
    text-align: center;
    min-height: 100px;
    background-color: #00000022;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-auto-columns: max-content;
}

@media only screen and (max-width: 635px) {
    .preview-img {
        border-radius: 16px 16px 0 0 !important;
    }
    .preview-box {
        border-radius: 0 0 16px 16px !important;
        text-align: center !important;
    }
    .full-container {
        grid-template-columns: 100% !important;
    }
}

.preview-img {
    display: inline-block;
    margin: 0;
    text-align: right;
    background-color: #00000000;
    border-radius: 16px 0 0 16px;
    background-size: cover;
    background-position: 50% 50%;
}

.preview-box {
    vertical-align: top;
    display: inline-block;
    margin: 0;
    text-align: left;
    border-radius: 0 16px 16px 0;
}